

<section class="text-center bg--secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12 mb-5">
                <div id="user-map" class="map-container border--round"></div>
            </div>
            <div class="col-md-12 col-12 text-left">
                <h1>Hi, <%= user.name %></h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    <form class="row" id="find-service"  >
                            <div class="col-md-12">
                                <label>What issue are you facing?</label>
                                <textarea id="desc" name="desc" placeholder="Please describe about the problem you are facing." rows="4" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="">Nearby Landmark</label>
                                <input id="nearby" type="text" name="nearby" placeholder="Nearby Landmark" required/>
                            </div>
                            <div class="col-md-12">
                                <div class="input-select">
                                    <select name="issues">
                                        <option selected="" value="Default">Some common issues</option>
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Larger">Large</option>
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Larger">Large</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="hidden" name="userid" id="userid" value="<%= user._id %>">
                            </div>
                        
                            <div class="col-md-4 mt-2">
                                <button type="submit" class="btn btn--primary">Call for Service</button>
                            </div>
                    </form>
            </div>
            <div class="col-md-6">
                    <div class="boxed boxed--border mb-md-0 " id="status">
                            <h2>{this} is your Mechanic</h2>
                            <span class="countdown h1" data-date="10/13/2018"></span>
                            <div class="progress-horizontal">
                                <div class="progress-horizontal__bar" data-value="50"></div>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Voluptate rem quasi aut, molestiae officiis veniam culpa tempora sequi, 
                                    esse accusantium adipisci at aliquam laudantium ipsum? Voluptas nam tenetur alias natus.
                                </p>
                            </div>
                        </div>
            </div>
        </div>
    </div>    
</section>

<section class="h-100 hidden" id="model-loader">
    <div class="loader loader--style6" title="5">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <rect x="0" y="13" width="4" height="5" fill="#333">
                <animate attributeName="height" attributeType="XML"
                    values="5;21;5" 
                    begin="0s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML"
                    values="13; 5; 13"
                    begin="0s" dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="10" y="13" width="4" height="5" fill="#333">
                <animate attributeName="height" attributeType="XML"
                    values="5;21;5" 
                    begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML"
                    values="13; 5; 13"
                    begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="20" y="13" width="4" height="5" fill="#333">
                <animate attributeName="height" attributeType="XML"
                    values="5;21;5" 
                    begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML"
                    values="13; 5; 13"
                    begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                </rect>
            </svg>     
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>

<script>
    var currLocation;
    function getCurrentPos() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(loadMap);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function initMap() { getCurrentPos() }
    
    // Initialize and add the map
    function loadMap(position) {
        var pos = {lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};
        currLocation = pos
        console.log('Map Loading');
        var map = new google.maps.Map(document.getElementById('user-map'), { zoom: 19, center: currLocation });
        var marker = new google.maps.Marker({ position: currLocation, map: map });
    }

    var socket = io();

    socket.on('connect', function () {
        console.log('user_connected');
    })


    socket.on('vendor-found', (params, callback) => {
        $( "#model-loader" ).addClass( 'hidden' );
        $(document.body).css({ 'cursor': 'default' })
        $('#find-service').addClass('hidden');
        $('#status').removeClass('hidden');
        console.log('Cools');
    })

    $('#find-service').on('submit', (e) => {
        e.preventDefault();
        if(!currLocation) currLocation = { lat: 28.6755389, lng: 77.1129107 };
        console.log('btn clicked')
        console.log(currLocation)

        $( "#model-loader" ).removeClass( 'hidden' );

        $(document.body).css({ 'cursor': 'not-allowed' })

        var data = {
            id: $('#userid').val(),
            problem_type: $('#desc').val(),
            nearby: $('#nearby').val(),
            coords: currLocation,
            location: 'Delhi'

        }

        console.log(data);

        socket.emit('find-vendors', data, (res) => {
            var map = new google.maps.Map(document.getElementById('user-map'), { zoom: 12, center: currLocation });
            var marker = new google.maps.Marker({ position: currLocation, map: map });
            console.log(res);
            if(res) {   
                res.forEach(item => {
                    var marker = new google.maps.Marker({
                        position: item.coords, 
                        map: map,
                        icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                        }
                    })
                });

            }
            
        });
    })
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAymsA8qvSL5wi3_Kmf4ibtJ5OnDwHfjLM&callback=initMap">
    </script>