<section class="cover height-80 text-center space--md">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <h1 class="color--primary">Hi, I'm Vehix</h1>
                <h1>Reliable service everywhere 
                    <br class="hidden-xs hidden-sm" /> for everyone.</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>