<section class="cover height-80 text-center space--md">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <h1 class="color--primary">Hi, I'm Vehix</h1>
                <h1>Smart, simple
                    <br class="hidden-xs hidden-sm" /> and responsive.</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>