<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Manish Sahani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <!-- <link href="/fonts/fonts.googleapis.com/icone91f.css?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
</head>

<body class=" ">
    <a id="start"></a>
    
    <div class="nav-container">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="index.html">
                            <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        
        <!-- <nav id="menu2" class="bar bar-2 hidden-xs bar--transparent bar--absolute"> -->
           <nav id="menu1" class="bar bar--sm bar-1 hidden-xs  bar--absolute" data-scroll-class='366px:pos-fixed' >
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-left-sm hidden-xs order-lg-2">
                        <div class="bar__module">
                            <!-- <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            </a> -->
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-lg-7 order-lg-1">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li>
                                    <a href="/login">Login</a>
                                </li>
                                <li>
                                    <a href="/signup">Register</a>
                                </li>                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="main-container">
        <%- body %>
    </div>
    
    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>
    
    <script src="/js/flickity.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/ytplayer.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/granim.min.js"></script>
    <script src="/js/jquery.steps.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>