
<section class="cover cover-blocks space--lg">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-md-6 space--lg">
                        <div>
                            <h1><span class="color--primary">Signup
                            </span>Vehix.</h1>
                        </div>
                </div>
                <div class="col-md-6 col-lg-5 mt-5">
                    <div class="text-center">
                        <form method="POST" class="row mt-1" action="">
                            <div class="col-md-12">
                                <input type="text" name="email" id="" class="col-md-12" value="" placeholder="Email" required>
                            </div>
                            <div class="col-md-12">
                                <input id="password" type="password" class="col-md-12" name="password" placeholder="Password"
                                required>
                            </div>
    
                            <div class="col-md-12">
                                <button class="btn btn--sm" type="submit">
                                    <span class="btn__text">
                                        Signup
                                    </span>
                                </button>
                            </div>
    
                            <div class="col-md-12">
                                <div class="input-checkbox input-checkbox--switch">
                                    <input id="checkbox-switch" type="checkbox" name="remember" />
                                    <label for="checkbox-switch"></label>
                                </div>
                                <span>Keep me logged in.</span>
                            </div>
                            
                           
                        </form>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>