<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12 text-left">
                <h1>All Requests</h1>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row" id="list-view">
                
        </div>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>

<script>

    var socket = io();

    const vendor = {
        "_id" : "5d9fdaa095796b2bc9a7a723",
        "name" : "Kunal sinha",
        "email" : "Kunal@gmail.com",
        "place" : "delhi",
        "coords" : {
            "lat" : 28.6873898,
            "lng" : 77.1431264
        },
        "__v" : 0
    }

    const approve = (id) => {
        socket.emit('request-apporved', {request_id: id, vendor_id: vendor._id}, (res) => {
            console.log(res);
        })
    }



    socket.on('connect', function () {
        console.log('vendor connected');

        socket.emit('join-room', {room: 'delhi'}, (res) => {
            console.log('join room');
        })



        socket.on('send-request', (params) => {

            var element = `<div class="col-md-6 " style="margin-botton: 1rem;">
                                    <div class="boxed boxed--border" >
                                     <span class="h1 text-dark">
                                         ${params.problemType}  </span>
                                        <span class="text-danger">Open</span>
                                        <div style="margin: 1rem 0;"><button onclick="approve('${params._creator}')" class="btn" style="padding: 0 1rem;">Respond</button></div>
                                        <div>
                                            <p>
                                                <strong>Location</strong>  ${params.location}
                                            </p>
                                        </div>
                                    </div>
                                </div>      
                                        
                                `

            $('#list-view').append(element)
        })


        socket.emit('get-requests', {}, (res) => {
            res.forEach(element => {
                let approval = element.approval
                var element = `<div class="col-md-6 ">
                                    <div class="boxed boxed--border" style="margin-botton: 1rem;">
                                     <span class="h1 text-dark">
                                         ${element.problemType} </span>
                                        <span class="text-danger">Open</span>
                                        <div style="margin: 1rem 0;"><button onclick="approve('${element._creator}')" class="btn" style="padding: 0 1rem;">Respond</button></div>
                                        <div>
                                            <p>
                                                <strong>Location</strong> ${element.location} 
                                            </p>
                                        </div>
                                    </div>
                                </div>      
                                        
                                `

                $('#list-view').append(element)
            });
        })
    })

    socket.on('disconnect', () => {
        $('#list-view').html('')
    })

</script>